<!DOCTYPE html>
<html>
    <head>
        <title>Help | Ruby on Rails Sample App</title>
    </head>
    <body>
        <h1>Help Page</h1>
        <p>This is a really cool Rails App</p>
    </body>
</html>