<footer class="footer">
    <small class="p-2">
        The Raaaaaaaaails tutorial!!!!!!
    </small>
    <nav>
        <ul class="flex flex-row space-x-4">
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
        </ul>
    </nav>
</footer>